<!DOCTYPE html>
<head>
    <title>SCM: A Shadowrun Combat Manager</title>
</head>
<body>
    Oof!  SCM has experienced an internal error.  Let the idiot who makes it know, please.
    Error: {{ error }}
</body>