<!DOCTYPE html>
<head>
    <title>SCM: A Shadowrun Combat Manager</title>
</head>
<body>
    Oof!  Your attempt to {{ action_name }} has revealed a tragic explosion in the heart of our Shadowrun Combat Manager.
    Error: {{ error }}
</body>