<!DOCTYPE html>
<head>
    <title>SCM: A Shadowrun Combat Manager</title>
    <link rel="stylesheet" href="/res/scm.css">
</head>
<body>
    <h1>Character added!</h1>
    <a href="/game/{{game_id}}">Back to game</a>
</body>