<!DOCTYPE html>
<head>
    <title>SCM: A Shadowrun Combat Manager</title>
</head>
<body>
    <h1>SCM: The Shadowrun Combat Manager for Us Normies</h1>
<p>Welcome to the SCM.  Please select from one of the ongoing games below.  Or, if you prefer, start your own!</p>
{{#each}}
<p>{{gamename}} - {{gameUrl}}</p>
{{/each}}
</body>