<!DOCTYPE html>
<head>
    <title>SCM: A Shadowrun Combat Manager</title>
    <link rel="stylesheet" type="text/css" href="../static/scm.css">
</head>
<body class="space-background-gradient outer-body">
    <h1>SCM: The Shadowrun Combat Manager for Us Normies</h1>
<p>Welcome to the SCM, {{player_handle}}.  Please select from one of the ongoing games below.  Or, if you prefer, start your own!</p>

<div>
{{#each summaries}}
    <p><a href="{{url}}">{{game_name}}</a></p>
{{/each}}
</div>

<div>
    <form action="/game" method="post">
        <div>
            <label for="name" id="name_label">Game name:</label>
            <input type="text" name="game_name" id="game_name" required>
        </div>
        <div>
            <input type="submit" value="Create Game">
        </div>
    </form>
</div>
</body>