<!DOCTYPE html>
<head>
    <title>Shadowrun Combat Manager</title>
    <link href="/res/static/scm.css">
</head>
<body>
<div>
    <form action="/gen_session" method="post">
        <div>
            <label for="name" id="name_label">Your name, please:</label>
            <input type="text" name="player_handle" id="player_handle" required>
        </div>
        <div>
            <input type="submit" value="Join">
        </div>
    </form>
</div>
</body>